* {
	margin: 0;
	padding: 0;
}

html, body {
    background: -webkit-gradient(linear, left top, left bottom, 
    			color-stop(0%, rgba(255, 255, 255, 0)), 
    			color-stop(30%, rgba(255, 255, 255, 0)), 
    			color-stop(100%, rgba(255, 255, 255, 0.90))),
    			url('/static/images/header.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;  
  	padding-top: 32.5px;
	height: 100%;
	width: 100%;
}

img {
	width: 100%;
	height: auto;
}

.logo {
	position: static;
	max-width: 80%;	
}

.content-container {
	margin: auto;	
	width: 95%;
	position: relative;
	top: 20px;
	background: url('/static/images/main-content-background-2.jpg') no-repeat fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;  	
}

.content-header {
	width: 95%;
	margin: auto;
	position: relative;
	top: 20px;
	padding-bottom: 20px;
	font-size: xx-large;
}

.content {
	width: 95%;
	margin: auto;
	position: relative;
	top: 20px;
}

/* qtip2 classes */
.qtip-wiki{
    max-width: 500px;
}

.qtip-wiki p{
    margin: 0 0 6px;
}

.qtip-wiki h1{
    font-size: 20px;
    line-height: 1.1;
    margin: 0 0 5px;
}

.qtip-wiki img{
	width: 64px;
	height: 64px;
    float: left;
    margin: 10px 10px 10px 0;
}

.qtip-wiki .info{
    overflow: hidden;
}

.qtip-wiki p.note{
    font-weight: 700;
}